.item-cat {
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-cat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-cat {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cover-cat img {
  width: 100%;
  height: 150px;
  transition: transform 0.3s ease;
  transform-origin: bottom right;
  bottom: 13px;
}

.item-cat:hover .cover-cat img {
  transform: scale(1.03);
}

.name-cat{
  padding-left: 10px;
}


