.user-widget{
  background-color: #323232;
}

.separator{
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background: hsla(0, 0%, 100%, .1)
}

.wishlist-widget{
  background-color: #323232;
}

.item img{
  margin: auto;
  width: 250px;
  max-height: 150px;
  border-radius: 12px
}

.fs-6{
  color: #999999;
}
