<div class="container-first">
  <form [formGroup]="filterForm" class="price-range">
    <div class="cont-precios d-flex flex-row px-2">
      <h5>Entre</h5>
    <div class="container " >
      <input type="number" formControlName="minPrice" class="form-control"
        style="background-color: hsla(0, 1%, 27%, .4); color: #fff;">
    </div>
    <h6>y</h6>
    <div class="container" style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
      <input type="number" formControlName="maxPrice" class="form-control"
        style="background-color: hsla(0, 1%, 27%, 0.4); color: #fff;">
        <h6 >$</h6>
    </div>
    </div>

    <div class="search " style="width: 100%; margin: auto;">
      <h5 style="margin: 10px;">Buscar...</h5>
      <div class="container " style="width: 75%; margin: auto;">
        <input type="text" formControlName="nombreJuego" class="form-control"
          style="background-color: hsla(0, 0%, 6%, .4); color: #fff; width: 100%;">
      </div>
    </div>
  </form>
</div>

<ion-grid>
  <ion-row>
    <ng-container *ngIf="filteredGames$ | async as games; else loading">
      <ion-col size="6" *ngFor="let game of games; trackBy: trackByGameId">
      <ion-card [routerLink]="['/juego', game.id]">
        <img [alt]="game.nombre" [src]="game.imagen" />
        <div class="header">
          <p>{{ game.nombre | truncateJuegos:25 }}</p>
          <span>{{ game.precio | currency }}</span>
        </div>
      </ion-card>
    </ion-col>
  </ng-container>
  <ng-template #loading>
    <ion-item>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ng-template>
  </ion-row>
</ion-grid>
