<ion-content>
  <app-toolbar-header title="Inicio"></app-toolbar-header>

  <div class="content">
    <app-portada></app-portada>
  </div>

  <div class="juegos">
    <h4 [routerLink]="['/tendencias']" >Tendencias</h4>
    <app-juegos [numElementos]="10"></app-juegos>
  </div>

  <div class="categorias">
    <h4>Categorias</h4>
    <app-categorias></app-categorias>
  </div>

  <div class="noticias">
    <h4>Noticias que no te puedes perder</h4>
    <app-noticia></app-noticia>
  </div>

  <div class="noticias">
    <h4>Ultimas reseñas</h4>
    <app-reviews></app-reviews>
  </div>

  <app-footer></app-footer>

</ion-content>


